apiVersion: v1
kind: Secret
metadata:
  name: triton-creds
  namespace: kube-system
type: Opaque
stringData:
  cloudapi: :"  # Replace with your Triton Cloud API endpoint
  account-id: ""                # Replace with your Triton account ID
  key-id: ""               # Replace with your Triton key ID (fingerprint)
  key.pem: |               # MUST BE PEM FORMAT: $ ssh-keygen -p -m PEM -f <id_rsa_file> to convert a file to PEM
    -----BEGIN RSA PRIVATE KEY-----
    ...
    -----END RSA PRIVATE KEY-----
